.example-card {
    width: 800px;
    background-color: chartreuse;
  }
  .heading{
      background-color: aquamarine;
  }
  .container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-top: 10%;
  }