<app-header></app-header>
<div class="w3-container w3-black w3-center w3-allerta">
  <p class="w3-xxxlarge">Gallery</p>
</div> 
              <input type="text" name="imageName" id="imageName" [(ngModel)]="imageNm" placeholder="Enter Creativity Name">
              <!-- <img class="img-thumbnail" name="preview" id="preview" src="assets/no-img.jpg" (click) = "onUploadBtnClick()"> -->
          <input type="button" (click)="onUploadBtnClick()" class="button" id="uploadProductImg" style="float: left" value="Upload" accept="image/*">
            <input type="file" id="imageFile" name="imageAvatar" (change)="onFileChange($event)">
          <br>
      <div *ngIf="uploadProgress | async as pct">
        <progress class="progress is-info" [value]="pct" max="100">
        </progress>
      </div>
    <div class="cardList">
      <div *ngFor="let image of images | async" >
        <div *ngIf="image.userId==authData.userData.uid">
      <mat-card class="cardListItem">
        <mat-card-header>
          <mat-card-title class="heading">{{image?.imageName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="zoom" data-src="{{image.imageURL}}" 
        [routerLink]="['/register-product',image.imageURL]">
      </mat-card>
      </div>
      </div>
      </div>