<mat-toolbar class="header">
<div class="header-body">
        <i class="material-icons">search</i>
        <mat-form-field >
          <input matInput placeholder="expoU">
        </mat-form-field>
        <a routerLink="/dashboard"><i class="material-icons" style="padding-left:25px;">home</i></a>
        <a routerLink="/profile"><i class="material-icons" style="padding-left:25px;">face</i></a>
        <a routerLink="/chatroom"><i class="material-icons" style="padding-left:25px;">markunread</i></a>
        <a routerLink="/settings"><i class="material-icons" style="padding-left:25px;">settings</i></a>
        <a routerLink="/gallery"><i class="material-icons" style="padding-left:25px;">photo</i></a>
     </div>   
</mat-toolbar>
