<div class="whole">
<form [formGroup]="this.registerProd.form">
    <input type="text" id="cname" formControlName="creativityname" placeholder="creativity Name"><br>

    <input type="text" id="cdesc" formControlName="creativitydescription" placeholder="creativity Description"><br>

    <input type="number" id="mbid" formControlName="minbid" placeholder="Minimum Bidding"><br>

    <input type="time" id="auctiontime" formControlName="auctime" placeholder="Auction Time"><br>

    <img class="img-fluid" data-src="{{imgURL}}" alt="img not loaded yet" style="cursor:pointer;height:500px;width:500px;" ><br>

    <button class="special" (click)="onSubmit()">Add</button>
</form>
<button routerLink="/gallery" class="button">Back to Gallery</button>

</div>