<p routerLink="/gallery">Back to gallery</p>

<form [formGroup]="this.registerProd.form">
    
    <input type="text" id="cname" formControlName="creativityname" placeholder="creativity Name"><br>

    <input type="text" id="cdesc" formControlName="creativitydescription" placeholder="creativity Description"><br>

    <input type="number" id="mbid" formControlName="minbid" placeholder="Minimum Bidding"><br>

    <input type="time" id="auctiontime" formControlName="auctime" placeholder="Auction Time"><br>
  

    <button class="btn btn-success" (click)="onSubmit()">Add</button>
</form>