<p routerLink="/gallery">Back to gallery</p>

<form action="">
    <label for="creativityname">Creativity Name:</label>
    <input type="text" id="cname" name="creativityname" required><br>
    <label for="creativitydescription">Creativity Description:</label>
    <input type="text" id="cdesc" name="creativitydescription" required><br>
    <label for="minbid">Minimum bid amount(in Rs):</label>
    <input type="text" id="mbid" name="minbid" required><br>
    <label for="auctime">Auction Time:</label>
    <input type="text" id="auctiontime" name="auctime" required><br>
  

    <button>Add</button>
</form>